---
Checks: "-*,\
bugprone-*,\
clang-analyzer-*,\
cppcoreguidelines-*,\
misc-*,\
modernize-*,\
mpi-*,\
performance-*,\
portability-*,\
readability-*,\
-readability-avoid-const-params-in-decls
"
HeaderFilterRegex: 'c\+\+/gadfit/.*\.h$'
CheckOptions:
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
...
