# Initial cache variables for GADfit

# The syntax used here is
#  set(<variable> <value> CACHE <type> <docstring>) .
# You only need to edit the <value> parameter.

# GNU compilers and flags
#set(CMAKE_CXX_FLAGS "" CACHE STRING "")
#set(CMAKE_CXX_FLAGS_RELEASE "-O3 -march=native -DNDEBUG" CACHE STRING "")
#set(CMAKE_CXX_FLAGS_DEBUG "-Og -g -Wall -Wextra -Wcast-align -Wformat -Winvalid-pch -Wmissing-declarations -Wmissing-include-dirs -Wconversion -Wredundant-decls -Wswitch-default -Wswitch-enum -pedantic" CACHE STRING "")
#set(CMAKE_Fortran_COMPILER mpif90 CACHE STRING "")
#set(CMAKE_Fortran_FLAGS "-ffree-line-length-0" CACHE STRING "")
#set(CMAKE_Fortran_FLAGS_RELEASE "-O3 -funroll-all-loops -fcoarray=lib" CACHE STRING "")
#set(CMAKE_Fortran_FLAGS_DEBUG "-O3 -g -Wall -Wno-maybe-uninitialized -Wextra -pedantic -fcheck=all -ffpe-trap=zero,overflow -fbacktrace -fcoarray=lib -std=f2008ts" CACHE STRING "")

# Intel compilers and flags
#set(CMAKE_C_COMPILER icc CACHE STRING "")
#set(CMAKE_Fortran_COMPILER ifort CACHE STRING "")
#set(CMAKE_Fortran_FLAGS_RELEASE "-O3 -ipo -xHost -fp-model precise -coarray=shared" CACHE STRING "" FORCE)
#set(CMAKE_Fortran_FLAGS_DEBUG "-O0 -g -debug all -check all -fpe0 -traceback -warn -coarray=shared -std08" CACHE STRING "")

# Whether to build the C++ or Fortran version of GADfit
set(BUILD_CXX_VERSION ON CACHE BOOL "")

# Whether to build in Release or Debug configuration.
set(CMAKE_BUILD_TYPE Release CACHE STRING "")

# Whether to build with MPI support (C++ only)
#set(USE_MPI ON CACHE BOOL "")

# Whether to build a shared or a static library.
set(BUILD_SHARED ON CACHE BOOL "")

# Where to install GADfit
set(CMAKE_INSTALL_PREFIX /usr/local/gadfit CACHE STRING "")

# Whether to use quadruple or double precision (Fortran only).
set(QUAD_PRECISION OFF CACHE BOOL "")

# Use this prefix if you want to run the tests in parallel with
# GFortran. Do not use it with the Intel compiler (it handles Coarrays
# differently). With Intel, the number of cores used is controlled by
# the FOR_COARRAY_NUM_IMAGES environment variable.
#set(TESTS_RUN_PREFIX mpirun -np 8 CACHE STRING "")

# You can probably install spdlog using your distribution's package
# manager. If not, download, build, and install it manually and
# SPDLOG_PATH to the installation directory.
#set(SPDLOG_PATH /usr/local/spdlog CACHE STRING "")

# If true, links against the GSL library.
set(USE_GSL ON CACHE BOOL "")
# If GSL was not automatically found by CMake try setting this variable.
#set(GSL_ROOT_DIR /usr/local/gsl CACHE STRING "")

# Keyword for automatic detection of a linear algebra library. Allowed
# values are
#       C++: mkl none*
#   Fortran: lapack atlas mkl
# *choosing none explicitly forces to use the fallback option
#set(LINALG_FLAVOR lapack CACHE STRING "")

# Additional directories containing header files
#set(INCLUDE_PATHS /usr/local/include CACHE STRING "")

# Linear algebra library directories
#set(LIBRARY_PATHS /opt/intel/mkl/lib/intel64 CACHE STRING "")

# Linear algebra libraries
#set(LIBRARIES mkl_gf_lp64 mkl_sequential mkl_core CACHE STRING "")

# Location of libcaf_mpi.a
#set(OPEN_COARRAYS /usr/local/opencoarrays/lib/libcaf_mpi.a CACHE STRING "")
